<div class="card border-primary text-center card-register">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">

        <form>
            <div class="form-group">
                <input [(ngModel)]="user.email" type="text" class="form-control" name="email" id="email"
                    placeholder="Email" autofocus required>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <input [(ngModel)]="user.nombre" type="text" class="form-control" name="nombre" id="nombre"
                        placeholder="Nombre" autofocus required>
                </div>

                <div class="form-group col-md-8">
                    <input [(ngModel)]="user.apellidos" type="text" class="form-control" name="apellidos" id="apellidos"
                        placeholder="Apellidos" autofocus required>
                </div>
            </div>
            <div class="form-group">
                <input [(ngModel)]="user.telefono" type="text" class="form-control" name="telefono" id="telefono"
                    placeholder="Telefono" autofocus required>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <input name="password" [(ngModel)]="user.password" id="password" type="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group col-md-6">
                    <input name="cpassword" type="password" class="form-control" placeholder="Retype Password">
                </div>
            </div>
            <div class="form-group">
                <input (click)='addUser()' type="submit" class="btn btn-lg btn-primary btn-block" value="Registrarse">
            </div>
        </form>
    </div>
</div>