<div class="bloque-prenav"></div>
<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="home-item">
    <a routerLink="/home">ASESORIA NOVO</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="/info">Información</a>
      </li>
      <li>
        <a routerLink="/services">Servicios</a>
      </li>
      <li>
        <a routerLink="/blog">Noticias</a>
      </li>
      <li>
        <a routerLink="/contact">Contacto</a>
      </li>
      <li *ngIf="loginService.isAuthenticated() && loginService.hasRole('ROLE_ADMIN')">
        <a routerLink="/users_suscribed">Usarios Suscritos</a>
      </li>
      <li *ngIf="!loginService.isAuthenticated()">
        <a routerLink="/register">Registrarse</a>
      </li>
      <li *ngIf="!loginService.isAuthenticated()">
        <a routerLink="/login">Iniciar Sesión</a>
      </li>

      <li *ngIf="loginService.isAuthenticated()" class="dropdown show">
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{loginService.user.nombre}}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <button (click)="logout()" class="dropdown-item" type="submit">Cerrar Sesión</button>
        </div>
      </li>
    </ul>
  </div>
</mat-toolbar>