<div class="divInfo1 container">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/img/fondo7.png" width="100%">
    </div>
    <div class="col-md-6">
      <h1 class="tittleInfo">ASESORIA LABORAL</h1>
      <br />
      <p class="txtInfo">En Novo Asesoría Laboral, Fiscal y Contable llevamos desde 1968 asesorando a empresas y
        trabajadores. Formamos parte de un despacho profesional, especializado en la prestación de servicios de asesoría
        y gestión empresarial de PYMES y autónomos.
        Tenemos como propósito asumir la gestión y cumplir con las obligaciones fiscales, administrativas y legales de
        nuestros clientes.</p>
    </div>
  </div>
</div>
<div class="divInfo2 container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="tittleInfo">ASESORIA FISCAL Y CONTABLE</h1>
      <br />
      <p class="txtInfo">En Novo Asesoría Laboral, Fiscal y Contable ofrecemos calidad en todos y cada uno de los
        servicios que ofrecemos.
        Nuestro personal realiza un tratamiento personalizado de cada uno de los casos que nuestros clientes ponen en
        nuestra mesa. Le garantizamos cumplimiento con sus obligaciones fiscales, laborales, mercantiles y jurídicas
        junto a una estructura de trabajo optimizada y ajustada a su caso.</p>
    </div>
    <div class="col-md-6">
      <img src="assets/img/fondo6.jpg" width="100%">
    </div>
  </div>
</div>