<div class="footer1">
  <div class="container">
    <div class="row">
      <div class="col-md-3">ASESORÍA NOVO
        <hr />
        <p>Somos Novo Asesoría Laboral, Fiscal y Contable, una empresa con más de 40 años de
          experiencia en el asesoramiento de empresas. Desde 1968 ofrecemos óptimos servicios
          en temas de asesoría laboral, fiscal y contable.</p>
      </div>
      <div class="col-md-3">UBICACION
        <hr />
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3205.9492244353914!2d-6.304467384128471!3d36.53121934220945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x25dceddcfb9a5040!2sNovo+Graduados+Sociales!5e0!3m2!1ses!2ses!4v1558340996579!5m2!1ses!2ses"
          width="300" height="170" frameborder="0" style="border:0" allowfullscreen></iframe>
        <p>Calle de la Rosa, 30, 11002 Cádiz</p>
      </div>
      <div class="col-md-3">QUE HACEMOS
        <hr />
        <p>Nos caracterizamos por ser un despacho especializado en la prestación de servicios
          de asesoría y gestión empresarial a PYMES. Somos expertos en el asesoramiento relacionado
          con el campo laboral, fiscal y contable en Cádiz. ​</p>
      </div>
      <div class="col-md-3">INFORMACION
        <div class="footer1-div1">
          <hr/>
          <mat-icon class="footer1-icon1">phone</mat-icon><span class="footer1-text1">Teléfono: 956 224 629</span><br/><br/>
          <mat-icon class="footer1-icon1">phone_android</mat-icon><span class="footer1-text1">Movil: 601 223 454</span><br/><br/>
          <mat-icon class="footer1-icon1">email</mat-icon><span class="footer1-text1">E-mail: novo.gs@arrakis.es</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer2">
  <div class="col-md-6">Copyright 2019 &copy; Asesoría Novo </div>
</div>