<app-add-services></app-add-services>
<app-detail-service></app-detail-service>
<div class="divServices1 container">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/img/fondo5.png" width="100%">
    </div>
    <div class="col-md-6">
      <h1 class="tittleServices">SERVICIOS</h1>
      <br />
      <p class="txtServices">En Novo Asesoría Laboral, Fiscal y Contable ofrecemos calidad en todos y cada uno de los
        servicios que ofrecemos.
        Nuestro personal realiza un tratamiento personalizado de cada uno de los casos que nuestros clientes ponen en
        nuestra mesa. Le garantizamos cumplimiento con sus obligaciones fiscales, laborales, mercantiles y jurídicas
        junto a una estructura de trabajo optimizada y ajustada a su caso.
      </p>
    </div>
  </div>
</div>
<div class="divServices2 container">
  <button (click)="openModal()" *ngIf="loginService.isAuthenticated() && loginService.hasRole('ROLE_ADMIN')"
    mat-raised-button class="botonCrearServicio" color="primary">Crear un Servicio</button>
  <div class="row">
    <div class="col-4" *ngFor="let servicio of servicios">
      <div class="box-part text-center">
        <mat-icon class="principalIcon">{{servicio.icono}}</mat-icon>
        <div class="title">
          <h4>{{servicio.titulo}}</h4>
        </div>
        <div class="text">
          <span>{{servicio.texto | slice:0:115}}</span>
        </div>
        <button (click)="openModalDetail()" mat-raised-button color="primary">Leer mas</button>
      </div>
    </div>
  </div>
</div>