.divServices1{
    max-width: 100%;
    background-color: white;
}

.tittleServices{
    font-size: 300%;
    padding-top: 8%;
    color: #4094d4;
    margin-left: 15%;
}
.txtServices{
    color:#808080;
    margin-left: 18%;
    margin-right: 15%;
    margin-top:-1.5%;
    font-size: 135%;
}
.divServices2{
    max-width: 100%;
    padding-top:1.5%;
    padding-bottom: 1.5%;
    background-color: rgb(241, 248, 248);
}

.box-part{
    background:#FFF;
    padding:12%;
    margin-top:3%;
    margin-bottom:3%;
}

.text{
    margin:1%;
}

.botonCrearServicio{
    margin-top:2%;
    margin-left: 20%;
    width: 60%;
    margin-bottom: 2%;
}

.principalIcon{
    font-size:320%;
    color:#4183D7;
    margin-right: 7.5%;
}

.btnService{
    font-size: 110%;
}

.deleteService{
    position: absolute;
    margin-top: -8%; 
    margin-left: 42%;
    font-size: 200%;
    color: crimson;
}