<div class="divNotices1 container">
    <div class="row">
        <div class="col-md-6">
            <img src="assets/img/fondo3.png" width="100%">
        </div>
        <div class="col-md-6">
            <h1 class="tittleNotices">ULTIMAS NOTICIAS</h1>
            <br />
            <p class="txtNotices">Con Novo Asesoría Laboral, Fiscal y Contable,
            ubicada en Cádiz, se beneficiará del asesoramiento que nuestros profesionales
            le prestarán en nuestras instalaciones y además le mantendremos informados
            sobre todas las novedades relacionadas con nuestra asesoría contable, fiscal
            y laboral y las últimas noticias del sector..</p>
        </div>
    </div>
</div>