<app-add-notice></app-add-notice>
<div class="divNotices1 container">
    <div class="row">
        <div class="col-md-6">
            <img src="assets/img/fondo3.png" width="100%">
        </div>
        <div class="col-md-6">
            <h1 class="tittleNotices">ULTIMAS NOTICIAS</h1>
            <br />
            <p class="txtNotices">Con Novo Asesoría Laboral, Fiscal y Contable,
                ubicada en Cádiz, se beneficiará del asesoramiento que nuestros profesionales
                le prestarán en nuestras instalaciones y además le mantendremos informados
                sobre todas las novedades relacionadas con nuestra asesoría contable, fiscal
                y laboral y las últimas noticias del sector..</p>
        </div>
    </div>
</div>
<div class="divNotices2">
    <button (click)="openModal()" *ngIf="loginService.isAuthenticated() && loginService.hasRole('ROLE_ADMIN')"
        mat-raised-button class="botonCrearNoticia" data-toggle="modal" data-target="#modalCrearNoticia"
        color="primary">Crear Noticia</button>
    <div class="divNotices2-margin">
        <div class="row card-group">
            <div class="col-4" *ngFor="let notice of notices">
                <a [routerLink]="['/blog/ver', notice.id]">
                    <mat-card>
                        <img mat-card-image *ngIf="notice?.imagen"
                            src="http://localhost:8080/api/uploads/img/{{notice.imagen}}" style="height: 240px; width: 360px;" alt="{{notice.imagen}}"
                            class="rounded">
                        <img mat-card-image *ngIf="!notice?.imagen" style="height: 240px; width: 360px;" src="http://localhost:8080/img/no-image.png"
                            alt="Sin imagen" class="rounded">
                        <mat-card-content>
                            <p class="card-title">{{notice.titulo }}</p>
                            <hr />
                            <p class="card-text">
                                {{notice.texto | slice:0:100}} [...]
                            </p>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
        </div>
    </div>
</div>