.divHome1{
    background-image:url("/assets/img/fondo1.png");
    background-size: cover;
    width: 100%;
    height: 650px;
}

.tittleHome{
    font-size: 300%;
    padding-top: 3%;
    color: #4094d4;
    margin-left: 34%;
}
.txtHome{
    color:#808080;
    margin-left: 30%;
    margin-right: 20%;
    margin-top:-1.5%;
    font-size: 135%;
}
@media(max-width:800px){
    .tituloHome{
        margin-left: 60%;
        margin-right: 0%;
    }
   .textoHome1{
        margin-left: 60%;
        margin-right: 0%;
   }
}